<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeWave</title>
    <link rel="shortcut icon" href="static/media/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/1.css">

</head>
<body>
    <header>
        <img src="static/media/logo.png" >
       <h1>VibeWave</h1>
    </header>
    <div id="table">

        <dl>
                {% for info in data %}
                    <dt class="names"> {{ info['title'] }} </dt>
                {% endfor %}
            </dl>
    </div>
    <div id="playerCon" >
        <audio src=""></audio>
    </div>
</body>
</html>